{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <h1>Sign up</h1>

    {{ include('new_user/_form.html.twig') }}

{% endblock %}
