{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('edit_user/_form.html.twig') }}

{% endblock %}
